* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: rgb(214, 226, 240);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qrCard {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 31rem;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
}

.qrCard img {
  border-radius: 0.8rem;
}

.qrCard h1 {
  color: hsl(218, 44%, 22%);
  font-size: 1.3rem;
  margin: 1.6rem 1rem 1rem;
  font-weight: 700;
}

.qrCard p {
  font-size: 0.95rem;
  margin: 0 1rem 1.1rem;
  color: hsl(220, 15%, 55%);
  font-weight: 400;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  height: 3rem;
  margin-bottom: 10px;
  padding: 1rem;
  flex-shrink: 0;
}
footer a {
  color: hsl(228, 45%, 44%);
}
